@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* DatePicker 커스텀 스타일 */
.react-datepicker {
  @apply font-sans;
}

.react-datepicker__header {
  @apply bg-white border-b border-gray-200;
}

.react-datepicker__current-month {
  @apply text-gray-700 font-semibold;
}

.react-datepicker__day-name {
  @apply text-gray-500;
}

.react-datepicker__day {
  @apply text-gray-700 hover:bg-gray-100 rounded-full;
}

.react-datepicker__day--selected {
  @apply bg-blue-500 text-white rounded-full;
}

.react-datepicker__day--keyboard-selected {
  @apply bg-blue-100 text-blue-700;
}

.react-datepicker__input-container input {
  @apply w-full;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.react-datepicker__input-container {
  width: 100% !important;
}

/* ssr로딩 애니메이션 */
@keyframes progressBar {
  0% {
    width: 0;
  }
  50% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}

.animate-progressBar {
  animation: progressBar 2s ease-in-out infinite;
}

.animate-in {
  animation: enter 200ms ease-out;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.react-datepicker__day--disabled {
  color: #ccc !important;
  cursor: not-allowed !important;
  text-decoration: line-through;
}

.react-datepicker__day--disabled:hover {
  background-color: transparent !important;
}
.custom-calendar .react-datepicker__day--today {
  border: 1px solid #dde5fe !important;
  background-color: white !important;
  color: #8ea9fb !important;
}

.custom-calendar .react-datepicker__day--selected,
.custom-calendar .react-datepicker__day--in-range,
.custom-calendar .react-datepicker__day--in-selecting-range,
.custom-calendar .react-datepicker__day--keyboard-selected {
  background-color: #dde5fe !important;
  color: #5c7eff !important;
}

.custom-calendar .react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range) {
  background-color: #eef2ff !important;
  color: #8ea9fb !important;
}

.exclude-weekends .react-datepicker__day--weekend {
  color: #c2c2c2 !important;
  pointer-events: none !important;
  background-color: transparent !important;
  text-decoration: line-through;
}

.custom-calendar .react-datepicker__day--disabled {
  color: #c2c2c2 !important;
  pointer-events: none !important;
  background-color: transparent !important;
}

.react-datepicker__close-icon::after {
  background-color: #8ea9fb !important;
  font-size: 14px;
}
